body {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

.header {
  display: flex;
  align-items: center;
  background-color:white;
  padding: 10px 20px;
  color: rgb(11, 4, 4);
  padding-left: 80px;
  padding-right: 80px;
}

.logo a {
  font-size: 24px;
  font-weight: bold;
  color: rgb(12, 12, 12);
  text-decoration: none;
  
}

.search-bar {
  flex: 1;
  display: flex;
  margin: 10px 20px;
}

.search-bar input {
  height: 35px;
  width: 100%;
  padding-left: 20px;
  border: none;
  border-radius: 4px;
  outline: none;
  background-color: #c6e5f5;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 50px;
}

.nav-links a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.nav-links img {
  width: 20px;
  height: 20px;
}
.product-bar {
  margin-top: 7px;
  height: 20vh;
  display: flex;
  align-items: center;
  width: 98%;
  z-index: 10000;
  background-color: #fff;
  padding-left: 70px;
  padding-right: 70px;
  gap: 15px;
  margin-left: 14px;
  margin-bottom: 10px;

}
.product-category {
  text-align: center;
  width: 120px;
  margin: -100;
}

.product-category img {
  display: block;
  margin: 0 auto;
  width: 60px; 
  height: auto;
}

.product-category a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  display: block;
  margin-top: 5px;
}
.product_bar2 h3{
  padding-top: 15px;
  padding-left: 15px;
}
.product_bar2{
  width: 81.8%;
  background-color: white;
  margin-left: 1%;
  padding-bottom: 10px;
  margin-top: 10px;
  position: relative;
  
}
.products{
  display: flex;
}
.product-card {
  margin-left: 30px;
  width: 210px;
  border: 1px solid #e0e0e0;
  background-color: #fff;
  text-align: center;
  cursor: pointer;
  height: 270px;
}

.product-image img {
   height: 200px;
   width: 100%;

}
.product-image img:hover {
  transform: translateY(-5px);
 
}
.product-title {
  font-size: 14px;
  font-weight: 600;
  color: #212121;
}

.product-offer {
  font-size: 18px;
  font-weight: bold;
}
.advertisement{
  position: absolute;
  top: 420px;
  left: 1050px;
  margin-right: 1%;
}
.advertisement img {
 height: 345px;
 width: 200px;
}
.product_bar3{
  width: 98%;
  background-color: white;
  margin-left: 1%;
  padding-bottom: 10px;
  margin-top: 10px;}

  .product_bar3 h3{
    padding-top: 15px;
    padding-left: 15px;
  }
  .offers {
    width: 32%;
    background-color: #f9f9f9;
    display: flex;
    flex-wrap: wrap;
    margin-left: 1%;
    margin-top: 10px;
    gap: 30px;
    padding-top: 20px;
    position: relative;
    background-color: white;
}
  .offer-product-card {
    width: 190px;
    height: 290px;
    background-color: white;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    background: transparent;
  }
  .offer-product-image {
    width: 100%; 
    padding: 1px,1px,1px,1px;
    height: 200px; 
    object-fit: cover; 
    overflow: hidden;
    transition: transform 0.3s ease; 
    display: flex;
    justify-content: center;
    gap: 3px;
  }
  .offer-product-image img:hover {
    transform: scale(1.05);
  }
  
  .offer-product-title {
    font-size: 16px;
    font-weight: 600;
    color: #212121;
    
  }
  
  .offer-product-offer {
    font-size: 18px;
    font-weight: bold;
    color: #07490b;
  }
  
.cards{
  display: flex;
  flex-wrap: wrap;
  margin-top: -3%;
  padding-bottom: 10px;
  margin-left: 5%;
  
}
.offers h3{
  margin-top: -15px;
  margin-left: 15px;
  margin-bottom: -5px;
}
.offer-area{
  display: flex;
  flex-wrap: wrap;
}
.advertisement2{
  position: absolute;
  top: 1135px;
  left: 430px;
}
.advertisement2 img {
 height: 635px;
 width: 820px;
 margin-right: 1%;
}
.advertisement3{
  position: absolute;
  top:  3475px;
  left: 540px;
}
.advertisement3 img {
height: 642px;
}
footer {
    background-color: #121212;
}
.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    
}
  .footer-column {
    flex: 1;
    min-width: 200px;
    margin: 10px;
}
  .footer-column h3 {
    font-size: 14px;
    text-transform: uppercase;
    color: #f7efef52;
    margin-bottom: 10px;
}
  .footer-column ul {
    list-style-type: none;
    padding: 0;
}
  .footer-column ul li {
    margin: 5px 0;
}
  .footer-column ul li a  {
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    transition: color 0.3s;
}
  .footer-column ul li a:hover {
    text-decoration: underline;
}
.footer-column p {
  color: white;
}
  .footer-bottom {
    text-align: center;
    padding: 15px 0;
    border-top: 1px solid #b38383;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    .footer-bottom a {
      text-decoration: none;
      margin-left: 100px;
      
    }
    .social-icons {
      margin-top: 10px;
      width: 50px; 
      display:flex ;
    }
    .social-icons img{
      width: 30px;
    }
    .social-icons a {
      margin-right: 15px;
      color: #ffffff;
      text-decoration: none;
      font-size: 18px;
    }
    .social-icons a:hover {
      color: #ffc107;
    }
    .payment-icons img {
      margin: 10px 5px;
      width: 50px;
    }
    

.last-section {
  color: #565656;
  margin-top: 40px;
  padding: 30px;
}

.last-section p {
  font-size: 12px;
  word-spacing: 2px;
}

span {
  font-weight: 400;
  font-size: 17px;
}
